version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: minecraft_bot_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - bot-network

  app:
    image: dezonnov1/settings-guide-bot-minecraft:v1

    container_name: minecraft_bot_app
    restart: on-failure
    ports:
      - "8082:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      DB_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
    networks:
      - bot-network

volumes:
  pgdata:

networks:
  bot-network:
    driver: bridge